.Card {
    border: 2px solid #6fad6f;
    padding: 10px; /* Adjusted padding */
    margin-bottom: 10px; /* Adjusted margin */
    border-radius: 8px;
    background-color: #f5f5f5;
    width: 250px; /* Adjusted width */
}

  
  .moreButton {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .postImage {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
  }
  
  .name {
    font-size: 14px; 
    font-weight: normal; 
    font-style: italic;
    margin-top: 10px;
    color: #333;
  }
  
  .description {
    font-size: 18px;
    margin-top: 5px;
    color: #555;
  }
  
  .category {
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
    color: #777;
  }
  
  .price {
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;
    color: #777;
  }
  
  .betButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #6fad6f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .betButton:hover {
    background-color: #5e9c5e;
  }
  